<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanghuwang.autocode.dao.mapper.ApiInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fanghuwang.autocode.dao.model.ApiInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="CHAR" />
    <result column="api_name" property="apiName" jdbcType="VARCHAR" />
    <result column="api_url" property="apiUrl" jdbcType="VARCHAR" />
    <result column="api_param" property="apiParam" jdbcType="CHAR" />
    <result column="api_return" property="apiReturn" jdbcType="CHAR" />
    <result column="api_type" property="apiType" jdbcType="TINYINT" />
    <result column="business_type" property="businessType" jdbcType="TINYINT" />
    <result column="model_id" property="modelId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_id, api_name, api_url, api_param, api_return, api_type, business_type, model_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanghuwang.autocode.dao.model.ApiInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from api_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from api_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanghuwang.autocode.dao.model.ApiInfoExample" >
    delete from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanghuwang.autocode.dao.model.ApiInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into api_info (app_id, api_name, api_url, 
      api_param, api_return, api_type, 
      business_type, model_id)
    values (#{appId,jdbcType=CHAR}, #{apiName,jdbcType=VARCHAR}, #{apiUrl,jdbcType=VARCHAR}, 
      #{apiParam,jdbcType=CHAR}, #{apiReturn,jdbcType=CHAR}, #{apiType,jdbcType=TINYINT}, 
      #{businessType,jdbcType=TINYINT}, #{modelId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanghuwang.autocode.dao.model.ApiInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into api_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        app_id,
      </if>
      <if test="apiName != null" >
        api_name,
      </if>
      <if test="apiUrl != null" >
        api_url,
      </if>
      <if test="apiParam != null" >
        api_param,
      </if>
      <if test="apiReturn != null" >
        api_return,
      </if>
      <if test="apiType != null" >
        api_type,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=CHAR},
      </if>
      <if test="apiName != null" >
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="apiUrl != null" >
        #{apiUrl,jdbcType=VARCHAR},
      </if>
      <if test="apiParam != null" >
        #{apiParam,jdbcType=CHAR},
      </if>
      <if test="apiReturn != null" >
        #{apiReturn,jdbcType=CHAR},
      </if>
      <if test="apiType != null" >
        #{apiType,jdbcType=TINYINT},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=TINYINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanghuwang.autocode.dao.model.ApiInfoExample" resultType="java.lang.Integer" >
    select count(*) from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update api_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null" >
        app_id = #{record.appId,jdbcType=CHAR},
      </if>
      <if test="record.apiName != null" >
        api_name = #{record.apiName,jdbcType=VARCHAR},
      </if>
      <if test="record.apiUrl != null" >
        api_url = #{record.apiUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.apiParam != null" >
        api_param = #{record.apiParam,jdbcType=CHAR},
      </if>
      <if test="record.apiReturn != null" >
        api_return = #{record.apiReturn,jdbcType=CHAR},
      </if>
      <if test="record.apiType != null" >
        api_type = #{record.apiType,jdbcType=TINYINT},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=TINYINT},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update api_info
    set id = #{record.id,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=CHAR},
      api_name = #{record.apiName,jdbcType=VARCHAR},
      api_url = #{record.apiUrl,jdbcType=VARCHAR},
      api_param = #{record.apiParam,jdbcType=CHAR},
      api_return = #{record.apiReturn,jdbcType=CHAR},
      api_type = #{record.apiType,jdbcType=TINYINT},
      business_type = #{record.businessType,jdbcType=TINYINT},
      model_id = #{record.modelId,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanghuwang.autocode.dao.model.ApiInfo" >
    update api_info
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=CHAR},
      </if>
      <if test="apiName != null" >
        api_name = #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="apiUrl != null" >
        api_url = #{apiUrl,jdbcType=VARCHAR},
      </if>
      <if test="apiParam != null" >
        api_param = #{apiParam,jdbcType=CHAR},
      </if>
      <if test="apiReturn != null" >
        api_return = #{apiReturn,jdbcType=CHAR},
      </if>
      <if test="apiType != null" >
        api_type = #{apiType,jdbcType=TINYINT},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=TINYINT},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanghuwang.autocode.dao.model.ApiInfo" >
    update api_info
    set app_id = #{appId,jdbcType=CHAR},
      api_name = #{apiName,jdbcType=VARCHAR},
      api_url = #{apiUrl,jdbcType=VARCHAR},
      api_param = #{apiParam,jdbcType=CHAR},
      api_return = #{apiReturn,jdbcType=CHAR},
      api_type = #{apiType,jdbcType=TINYINT},
      business_type = #{businessType,jdbcType=TINYINT},
      model_id = #{modelId,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>