<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanghuwang.autocode.dao.mapper.PojoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fanghuwang.autocode.dao.model.PojoInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pojo_id" property="pojoId" jdbcType="CHAR" />
    <result column="pojo_name" property="pojoName" jdbcType="VARCHAR" />
    <result column="pojo_type" property="pojoType" jdbcType="TINYINT" />
    <result column="create_type" property="createType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pojo_id, pojo_name, pojo_type, create_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fanghuwang.autocode.dao.model.PojoInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pojo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pojo_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pojo_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fanghuwang.autocode.dao.model.PojoInfoExample" >
    delete from pojo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fanghuwang.autocode.dao.model.PojoInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into pojo_info (pojo_id, pojo_name, pojo_type, 
      create_type)
    values (#{pojoId,jdbcType=CHAR}, #{pojoName,jdbcType=VARCHAR}, #{pojoType,jdbcType=TINYINT}, 
      #{createType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fanghuwang.autocode.dao.model.PojoInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into pojo_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pojoId != null" >
        pojo_id,
      </if>
      <if test="pojoName != null" >
        pojo_name,
      </if>
      <if test="pojoType != null" >
        pojo_type,
      </if>
      <if test="createType != null" >
        create_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pojoId != null" >
        #{pojoId,jdbcType=CHAR},
      </if>
      <if test="pojoName != null" >
        #{pojoName,jdbcType=VARCHAR},
      </if>
      <if test="pojoType != null" >
        #{pojoType,jdbcType=TINYINT},
      </if>
      <if test="createType != null" >
        #{createType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fanghuwang.autocode.dao.model.PojoInfoExample" resultType="java.lang.Integer" >
    select count(*) from pojo_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pojo_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pojoId != null" >
        pojo_id = #{record.pojoId,jdbcType=CHAR},
      </if>
      <if test="record.pojoName != null" >
        pojo_name = #{record.pojoName,jdbcType=VARCHAR},
      </if>
      <if test="record.pojoType != null" >
        pojo_type = #{record.pojoType,jdbcType=TINYINT},
      </if>
      <if test="record.createType != null" >
        create_type = #{record.createType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pojo_info
    set id = #{record.id,jdbcType=BIGINT},
      pojo_id = #{record.pojoId,jdbcType=CHAR},
      pojo_name = #{record.pojoName,jdbcType=VARCHAR},
      pojo_type = #{record.pojoType,jdbcType=TINYINT},
      create_type = #{record.createType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanghuwang.autocode.dao.model.PojoInfo" >
    update pojo_info
    <set >
      <if test="pojoId != null" >
        pojo_id = #{pojoId,jdbcType=CHAR},
      </if>
      <if test="pojoName != null" >
        pojo_name = #{pojoName,jdbcType=VARCHAR},
      </if>
      <if test="pojoType != null" >
        pojo_type = #{pojoType,jdbcType=TINYINT},
      </if>
      <if test="createType != null" >
        create_type = #{createType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanghuwang.autocode.dao.model.PojoInfo" >
    update pojo_info
    set pojo_id = #{pojoId,jdbcType=CHAR},
      pojo_name = #{pojoName,jdbcType=VARCHAR},
      pojo_type = #{pojoType,jdbcType=TINYINT},
      create_type = #{createType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>